
<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html lang="en">
  <head>Welcome to</head>  
<div style="text-align:center">
    <h2>Welcome to  {{title}}</h2>

    
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
   
  <hr>
  <body>
      <server-tag></server-tag>  
      <app-image-manipulation></app-image-manipulation>
 
  <div>
     
  <ul>
    <li>
      <!-- <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->   
      Monday: Work 8:30am to 5:30pm
    </li>
    <li>
    <!--  <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
      Tuesday: 
    </li>
    <li>
    <!--  <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2> -->
      Wednesday: Work 8:30am to 5:30pm
    </li>
    <li>
      Thursday: 
    </li>
    <li>
      Friday: Work 8:30am to 5:00pm
    </li>
    <li>
      Saturday: DJ @ Das BeerGarden: 8:00pm to 12:00am
    </li>
    <li>
      Sunday: Church @ 5:00pm
    </li>
  </ul>
</div>
</body>
</html>
  
  
